[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
youtube_dl = {git = "https://github.com/ytdl-org/ytdl-nightly.git", ref = "2024.04.22", editable = true}
PyQt5 = ">=5.15.4"

[dev-packages]
cx-Freeze = ">=7.0.0"
